<%- include('../partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/adminNavbar') %>

    <div class="col-md-12 p-4">
      <div class="container mt-4">
        <h2 class="mb-4 text-center">Chuyển Nhân Sự</h2>

        <!-- Form tìm kiếm nhân viên -->
        <form action="/admin/staff-search" method="POST" class="row g-3 align-items-center mb-4">
          <div class="col-md-3">
            <label for="area" class="form-label">Khu Vực</label>
            <select class="form-select" id="area" name="area">
              <option value="" disabled selected>Chọn Khu Vực</option>
              <% for (let i = 0; i < areas.length; i++) { %>
                <option value="<%= areas[i].MaKhuVuc %>"><%= areas[i].TenKhuVuc %></option>
              <% } %>
            </select>
          </div>

          <div class="col-md-3">
            <label for="branch" class="form-label">Chi Nhánh</label>
            <select class="form-select" id="branch" name="branch" disabled>
              <option value="" disabled selected>Chọn Chi Nhánh</option>
            </select>
          </div>

          <div class="col-md-2">
            <label class="form-label d-block">&nbsp;</label>
            <button type="submit" class="btn btn-primary w-100">Tìm Kiếm</button>
          </div>
        </form>

        <!-- Danh sách nhân viên -->
        <% if (employees && employees.length > 0) { %>
          <h4 class="text-center mt-4">Danh Sách Nhân Viên</h4>
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã NV</th>
                <th>Họ Tên</th>
                <th>Bộ Phận</th>
                <th>Hành Động</th>
              </tr>
            </thead>
            <tbody>
              <% employees.forEach((employee, i) => { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= employee.MaNhanVien %></td>
                  <td><%= employee.HoTen %></td>
                  <td><%= employee.MaBoPhan %></td>
                  <td>
                    <button id="transferBtn" data-id="<%= employee.MaNhanVien %>" class="btn btn-success btn-sm ms-2">Chuyển chi nhánh</button>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } else if (employees) { %>
          <p class="text-center text-muted mt-4">Không tìm thấy nhân viên nào</p>
        <% } %>
        
        <div class="card mb-4 d-none">
            <div class="card-body">
                <form action="/admin/staff" method="post">
                    <h5 class="card-title">Chuyển Nhân Viên</h5>
                    <p><strong>Tên nhân viên: </strong><span id="empName"></span></p>
                    <p><strong>Chức vụ: </strong><span id="position"></span></p>
                    <input type="text" id="empId" name="id" hidden>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Input mã bộ phận mới -->
                                <div class="mb-3">
                                  <label for="MaBoPhan">Mã bộ phận mới</label>
                                  <input type="text" class="form-control" id="MaBoPhan" name="MaBoPhan" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <!-- Input lương mới -->
                              <div class="mb-3">
                                <label for="Luong">Lương mới</label>
                                <input type="number" class="form-control" id="Luong" name="Luong" required>
                              </div>
                          </div>
                        </div>
                
                        <div class="col-md-2">
                            <label class="form-label d-block">&nbsp;</label>
                            <button type="submit" class="btn btn-primary w-100">Chuyển</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>      
      </div>
    </div>
  </div>
</div>

<script>
    const areaSelect = document.getElementById('area');
    const branchSelect = document.getElementById('branch');
    const transferBtns = document.querySelectorAll('#transferBtn');

    areaSelect.addEventListener('change', () => {
        branchSelect.disabled = false;

        const branches = JSON.parse('<%- JSON.stringify(branches) %>');

        const selectedArea = areaSelect.value;
        branchSelect.innerHTML = `<option value="" disabled selected>Chọn chi nhánh...</option>`;
        branches[selectedArea].forEach(branch => {
            const option = document.createElement('option');
            option.value = branch.MaChiNhanh;
            option.textContent = branch.TenChiNhanh;
            branchSelect.appendChild(option);
        });
    });

    const employees = JSON.parse('<%- JSON.stringify(employees) %>');
    console.log(employees);

    transferBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            const id = btn.getAttribute('data-id')
            const employee = employees.find(emp => emp.MaNhanVien === id);

            document.getElementById('empName').textContent = employee.HoTen;
            document.getElementById('position').textContent = employee.MaBoPhan;
            document.getElementById('empId').value = employee.MaNhanVien;

            document.querySelector('.card').classList.remove('d-none');
        });
    });
</script>

<%- include('../partials/footer') %>
